@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Test">Test</a>
    <a href="/Test?amount=10000">Low Test</a>
    <a href="/Test?amount=1">Extra Low Test</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
